main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem 1rem;
    background-color: $colorContent;
    & .btn-main{
        margin: 1rem 0 0.5rem;
    }
    & button{
        background-color: $logoColor;
        border: 2px solid $logoColor;
        padding: 0.5rem 2rem;
        color: $fontMain;
        font-size: 0.8rem;
        font-weight: 600;
    }
}
.box-dc{
    flex-basis: calc(100% / 6 - 8px);
    height: 280px;
    margin: 4px;
    text-align: center;
    & img{
        height: 85%;
    }
    & h6{
        font-size: 1rem;
        font-weight: 600;
        color: $fontMain;
        font-family: $navFont;
    }
}
#jumbotron{
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: top;
    height: 400px;
    width: 100%;
    text-align: center;
    & h1{
        padding: 3rem;
    }
}
